apiVersion: v1
kind: Service
metadata:
  name: producer-service
  labels:
    app: producer
spec:
  type: NodePort
  selector:
    app: producer
  ports:
    - protocol: TCP
      port: 3000
      targetPort: 3000
      nodePort: 30001
